@import url("../../styles/please-write-song-font.css");

form.EnterURL {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto; /* center this part horizontally */
	text-align: center;
	font-family: PleaseWriteSongFF;
}

.FormInput {
	padding: 12px 12px;
}

input[type=text] {
	font-size: 48px;
	padding: 8px 4px;
	text-align: center;
	border: 2px solid #003459;
	border-radius: 12px;
	color: #003459;
	background-color: rgba(255, 255, 255, 0.5);
}

input[type=text]:focus {
	outline: none; /* no black outline when you are typing */
}

input[type=text]::placeholder {
	color: #003459;
	opacity: 0.6;
	font-size: 36px;
}

input[type=submit] {
	background-color: #003459;
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding: 12px 18px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
