.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto; /* center this part horizontally */
	text-align: center;
}

.Unselectable-Text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 12px 12px;
}

h1 {
	color: #E3963E;
	font-size: 120px;
	font-weight: bold;
	margin: 24px;
	text-shadow: 3px 3px white, 6px 6px #E3963E;
}

p.Subtitle {
	color: #4169E1;;
	font-size: 24px;
	font-weight: bold;
}

p.Short-URL {
	font-size: 24px;
}
